on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: Create release

jobs:
  build:
    name: Build pkg
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Create <.env> file
        run: |
          touch .env
          echo TEST_ARS=${{ secrets.TEST_ARS }} >> .env
      - name: Build
        run: |
          yarn -y && yarn build && yarn start
      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: ars
          path: build
          retention-days: 3
  release-please:
    name: Bump+CL+release
    runs-on: ubuntu-latest
    needs: build
    outputs:
      status: ${{ steps.releaser.outputs.release_created }}
    steps:
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: ars
      - uses: google-github-actions/release-please-action@v3
        id: releaser
        with:
          release-type: node
          default-branch: main
          token: ${{secrets.GITHUB_TOKEN}}
          package-name: ars
          path: src
          pull-request-title-pattern: "chore${scope}: to release${component} ${version}"
          pull-request-header: ":robot: I have created a release"
  publish:
    name: publication to repo
    runs-on: ubuntu-latest
    if: ${{ needs.release-please.outputs.release_created }}
    needs: release-please
    steps:
      - name: test by prev output job variables
        run: |
          echo "OK. next publication ..."
          echo "release-please release created: ${{ needs.release-please.outputs.status }}"
